@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');


img{
    max-height: 100%;
    width: 100px;
    
}
img:hover{
    border: 1px;
    border-radius: 25%;
    transition: 500ms;
    transform: scale(1.2);
}
td {
    text-align: center;
    padding: 10px;
}

body{
    font-family: 'Otomanopee One', serif;
    text-align: center;
     width: 1200px;
     margin:0 auto;
     background-color: #EAEAEA;
 }
 .afisha table {
     margin: 0 auto;
 }
 .bestFilms table {
     margin: 0 auto;
 }
 .header {
     background-color: #CBC5EA;
     border-radius: 2%;
     width:100%;

 }
 h1{
     text-transform: uppercase;
     padding: 10px 0;
     color: #73628A;
     margin: 0 auto;
    font-size: 50px;
 }
 h2{
     color: #73628A;
     font-size: 30px;
     text-transform: uppercase;
 }
 h3{
     padding-left: 10px;
     text-align: left;
     color: #313D5A;
     font-size: 20px;
     background-color: rgba(49, 61, 90, 0.3);
 }
 .bestFilmsTH{
     text-align: center;
     font-size: 25px;
     text-decoration: uppercase;
 }
.lastTR{
    padding-bottom: 50px;
}
table{
    width: 60%;
    
    font-size: 15px;
    color: #73628A;;
}
table th {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 0;

}
table td {
    font-weight: bold
}
footer{
    display: flex;
    justify-content: start;
    font-size: 8px;
    text-align: right;
}